@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Nunito", sans-serif;
    margin:0 auto;
    max-width: 100%;
}

input, button{
    font-family: inherit;
}

.offset{
    left: -10000px;
}

.nowrap{
    white-space: nowrap;
}

.fade-in{
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.fade-in.appear{
    opacity: 1;
}
   

body::-webkit-scrollbar{
    display:none;
}

.header{
    position: sticky;
    top: 0;
    background-color: #000;
    color: whitesmoke;
    z-index: 3;
}

.header__nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.header__ul{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.header__ul li{
    list-style-type: none;
}

.header__ul a, .header__ul a:visited{
    color: whitesmoke;
    text-decoration: none;
    border-bottom: .2px solid whitesmoke;
    padding: .4em;
}

.header__ul a:hover{
    background-color: whitesmoke;
    color: #333;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}


.hero_section{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.hero_text{
    padding: 15px;
    padding-top: 5px;
    color: rgb(219, 215, 215);
    font-size: 1.2rem;
    opacity: 0;
    animation: hero_text_animation 2s linear 2s forwards;
}

@keyframes hero_text_animation {
    0%{
        transform: translateX(3000px);
        opacity: 0;
    }
    20%{
        transform: translateX(1000px);
        opacity: 0.2;
    }
    40%{
        transform: translateX(600px);
        opacity: 0.8;
    }
    80%{
        transform: translateX(250px);
        opacity: 0.9;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.caption{
    position: absolute;
    left: -10000px;
}

/* || SMALL DEVICES */

main{
    display: flex;
    flex-flow: column nowrap;
    gap: .5em;
    margin-top: 1rem;
}

main .main__df{
    scroll-margin-top: 4rem;
}

main .main__sample{
    scroll-margin-top: 4rem;
}


.main__info{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-flow: column nowrap;
    place-content: center;
}

/* || MEDIUM DEVICES */

@media  screen and (min-width: 576px) {
    main{
        max-width: 90%;
        display: grid;
        margin: 0 auto;
        margin-top: 1rem;
        place-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "df img1"
        "img2 wu"
        "info info"
        "sample sample"
        "ct ln";
        gap: .5em;
    }
    .main__info{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-content: flex-start;
        gap: 1em;
    }
}


.main__df{
    grid-area: df;
    display: flex;
    place-content: center;
    align-items: center;
    padding: 15px;
    line-height: 1.3em;
}

.main__wu{
    grid-area: wu;
    display: flex;
    place-content: center;
    align-items: center;
    padding: 15px;
    line-height: 1.3em;
}

.main__img1{
    grid-area: img1;
    box-shadow: 0 0 3px 1px #333;
}

.main__img2{
    grid-area: img2;
    box-shadow: 0 0 3px 1px #333;
}


.main__info{
    grid-area: info;
    padding: 15px;
}

.main__info h2{
    border-bottom: 1px solid #333;
    display: inline-block;
}

.main__info p{
    padding: 15px 0;
}



/* || LARGE DEVICES */
@media screen and (min-width: 998px) {
    main{
        max-width: 90%;
        display: grid;
        margin: 0 auto;
        margin-top: 1rem;
        place-content: center;
        padding: 15px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "df img1 info"
        "img2 wu info"
        "sample sample sample"
        "ct ct ln";
        gap: .5em;
    }

    .main__info{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-content: flex-start;
    }
}



.sample-container{
    grid-area: sample;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center safe;
    flex-flow: row nowrap;
    overflow-x: scroll;
    gap: 1em;
    padding: 1.5em;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.sample-container::-webkit-scrollbar{
    display: none;
}

.sample-container figure{
    flex: 0 0 auto;
    width: 300px;
    scroll-snap-align: start;
    scroll-margin-right: 30px;
}

.sample-container figure img{
    border-radius: 5px;
    width: 400px;
    height: 350px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.sample-container figure img:hover,
.sample-container figure img:focus{
    transform: scale(1.1);
}

main .main__contact{
    scroll-margin-top: 4rem;
}

.contact{
    margin: 1rem;
    grid-area: ct;
    position: relative;
    border: none;
    display: flex;
    flex-flow: column nowrap;
    place-content: flex-start;
}

.contact__h3{
    position: absolute;
    top: -1rem;
    left: 1rem;
    z-index: 1;
    background-color: #000;
    color: whitesmoke;
    padding: .3em;
    border-radius: 3px;
}

.contact__ul{
    margin-top: 20px;
    padding: 10px;
}

.contact__ul li{
    list-style-type: none;
}

.location{
    margin: 1rem;
    grid-area: ln;
    position: relative;
    border: none;
    display: flex;
    flex-flow: column nowrap;
    place-content: center;
    
}

.location__h3{
    position: absolute;
    top: -1rem;
    left: 1rem;
    z-index: 1;
    background-color: #000;
    color: whitesmoke;
    padding: .3em;
    border-radius: 3px;
}

.location__ul{
    margin-top: 20px;
    display: grid;
    place-content: flex-start;
    padding: 10px;
}

.location__ul li{
    list-style-type: none;
}

footer{
    position: relative;
    bottom: 0;
    padding: 15px;
    background-color: #000;
    color: whitesmoke;
    display: grid;
    place-content: center;
}

footer div{
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    align-items: center;
}



